  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    overflow: scroll;
    overflow-x: overlay;
    overflow-y: overlay;
    /*padding-top: 10%;  Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 95%;/* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition:2.5s; 
    /*transform: ;*/
  }


  /* Modal Content */
  .modalContent .model-text {
    display: none;
    margin: auto;
  }
  .modalContent .box-text1,
  .modalContent .box-text2,
  .modalContent .box-text3{
    display: none;
    margin: 1.75rem auto;

  }
  .modalContent {
    /*flex-direction :column;*/
      /*display:table;*/
    border-radius: 23px;
    background-color: #fefefe;
    margin: 2.5% auto 5% auto;
    padding: 5%;
    display: table;
    border: 1px solid #888;
    width: 55%;

    /*height: 95%;*/

  }
  .box-text1 img,
  .box-text2 img,
  .box-text3 img{
    height: 150px;
    margin: 5px;

}

.box-text1 h1,
.box-text2 h1,
.box-text3 h1{
    margin-top: -20%!important; 
    font-size: 2rem!important;
    text-align: left!important;
    /*margin-bottom: 10%!important;*/
}
.box-text1 h2,
.box-text2 h2,
.box-text3 h2
{
    line-height: 55px;
    color: #1667b1;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
    padding-top: 10px;
    font-size: 2rem!important;
    text-align: left!important;
    margin-bottom: -35px;
}
.box-text1 h3,
.box-text2 h3,
.box-text3 h3
{
    line-height: 55px;
    color: #1667b1;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
    padding-top: 10px;
    text-align: left!important;
}
  /* The Close Button */
  .close {
    color: #aaaaaa;
    /* float: right; */
    /* top: 10%; */
    left: 100%;
    position: relative;
    top: -35px;
    font-size: 40px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

  }
  .model-text{
    width: 600px; 
    margin:20px;
}
.model-text h1,
.box-text1 h1,
.box-text2 h1,
.box-text3 h1{
    font-size: 3.5rem;
    line-height: 55px;
    color: #1667b1;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    margin: 0px;
    margin-bottom: 20%;
}
.model-text p{
    font-size: 1rem;
     margin: 20px;
    color:#777777;
}
.model-text span,
.box-text1 span,
.box-text2 span,
.box-text3 span{
    color: #ff0000;
    text-decoration: underline #fbbf69;
}
.modalContent ul{
  text-decoration: none;
  list-style: square;
  color: #777;
}
.modalContent ul li{
  margin: 2%;
}